* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #1992D4;
  color: white;
  padding: 20px;
  font-weight: bold;
  z-index: 5;
}


.sidebar-header {
  display: grid;
  grid-template-columns: 30px 150px;
  gap: 10px;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.sidebar-main {
  margin-bottom: 30px;
}

.sidebar-main,
.sidebar-bottom
{
  display: grid;
}

.sidebar-main-content,
.sidebar-bottom-content
{
  display: grid;
  grid-template-columns: 30px 150px;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.sidebar-main-content-icon,
.sidebar-bottom-content-icon
{
  width: 20px;
  justify-self: center;
}

.sidebar-header-icon,
.sidebar-main-content-icon,
.sidebar-bottom-content-icon
{
  filter: invert(1) brightness(2);
}

header {
  display: grid;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 3;
  padding: 20px 40px;
  white-space: nowrap;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 20px 1fr;
  align-items: center;
  gap: 20px;
}

.header-top-search-bar {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 15px;
}

.header-top-search-bar input {
  background-color: #E2E8F0;
  border-radius: 9999px;
  border: none;
  height: 30px;
  width: min(100%, 600px);
  min-width: 100px;
}

.header-top-alarm {
  /* margin: 0 20px; */
}

.header-top-profile {
  display: grid;
  grid-template-columns: 20px 1fr;
}