* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #1992D4;
  color: white;
  padding: 20px;
  font-weight: bold;
  z-index: 5;
}


.sidebar-header {
  display: grid;
  grid-template-columns: 30px 150px;
  gap: 10px;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.sidebar-main {
  margin-bottom: 30px;
}

.sidebar-main,
.sidebar-bottom
{
  display: grid;
}

.sidebar-main-content,
.sidebar-bottom-content
{
  display: grid;
  grid-template-columns: 30px 150px;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.sidebar-main-content-icon,
.sidebar-bottom-content-icon
{
  width: 20px;
  justify-self: center;
}

.sidebar-header-icon,
.sidebar-main-content-icon,
.sidebar-bottom-content-icon
{
  filter: invert(1) brightness(2);
}

header {
  display: grid;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 3;
  padding: 10px 40px;
  white-space: nowrap;
  gap: 28px;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 20px 190px;
  align-items: center;
  gap: 10px;
}

.header-top-search-bar {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 15px;
}

.header-top-search-bar input {
  background-color: #E2E8F0;
  border-radius: 9999px;
  border: none;
  height: 28px;
  width: min(100%, 500px);
  min-width: 100px;
  padding-left: 12px;
}

.header-top-alarm {
  /* margin: 0 20px; */
}

.header-top-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.header-top-profile-img {
  width: 40px;
  border-radius: 50%;
  background-color: yellow;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-bottom-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.header-bottom-profile span {
  font-size: 0.7rem;
}

.header-bottom-profile address {
  font-size: 1.1rem;
  font-style: normal;
}

.header-bottom-profile-img {
  width: 60px;
  border-radius: 50%;
  background-color: yellow;
}

.header-bottom-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-bottom-buttons button {
  color: white;
  background-color: #1992D4;
  border: none;
  border-radius: 9999px;
  padding: 9px 27px;
  margin: 0 15px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 280px;
  background-color: #E2E8F0;
  padding: 20px;
  gap: 20px;
}

.content-label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.main-content-projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.main-content-projects-cards .card {
  position: relative;
  display: grid;
  grid-template-rows: 110px 40px;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 30px 25px 20px;
  height: 188px;
  overflow: hidden;
}

  .main-content-projects-cards .card::before {
  content: '';
  position: absolute;
  top: -50%;
  right: 97%;
  background-color: orange;
  width: 100%;
  height: 200%;
}

.main-content-projects-cards .card-text {
  margin-bottom: 15px;
  line-height: 1rem;
}

.main-content-projects-cards .card-text-title {
  font-weight: bold;
  line-height: 1.5rem;
}

.main-content-projects-cards .card-text-dsc {
  font-size: 0.8rem;
  opacity: 0.8;
}

.main-content-projects-cards .card-functions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.card-functions-icon {
  width: 20px;
}

.main-content-side {
  display: grid;
  grid-template-rows: 320px 1fr;
  gap: 25px;
}

.main-content-announcements-container {
  display: grid;
  grid-template-rows: 1fr 30px 1fr 30px 1fr;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.announcement {
  line-height: 0.7rem;
  padding: 5px;
}

.announcement span {
  font-size: 0.7rem;
  opacity: 0.8;
}

.announcement .announcement-title {
  font-size: 0.9rem;
  color: black;
  opacity: 1;
  line-height: 1rem;
}

.announcement-separator {
  height: 2px;
  background-color: #E2E8F0;
  margin: 14px 0;
}

.main-content-trending-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  gap: 15px;
}

.main-content-trending-container .trend {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 10px;
  align-items: center;
  font-size: 0.8rem;
}

.main-content-trending-container .trend address {
  font-weight: bold;
}

.main-content-trending-container .trend span {
  opacity: 0.8;
}

.main-content-trending-container .trend-icon {
  width: 44px;
  border-radius: 9999px;
  padding: 3px;
}

#tegan-icon {
  background-color: azure;
}

#morgan-icon {
  background-color: yellow;
}

#kendall-icon {
  background-color: darkgrey;
}

#alex-icon {
  background-color: pink;
}


